* {
	box-sizing: border-box;
}
body {
	font-family: 'Segoe WPN';
}
/* Fonts */
@font-face {
	font-family: 'Segoe WPN';
	src: url('/assets/fonts/SegoeWPN.woff2') format('woff2'), url('/assets/fonts/SegoeWPN.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

/* common classes */
.commonWrapper {
	margin: 0 auto;
	max-width: 1070px;
	display: flex;
}

/*  */

.header {
	width: 100%;
	background-color: #fff;
	display: flex;
}
.headerWrapper {
	justify-content: space-between;
	flex-grow: 1;
}
.headerLogoWrapper {
	display: flex;
	align-items: center;
}
.headerLogo {
	font-size: 42px;
	margin: 0 0 0 15px;
}

/* nav */
.navList {
	list-style-type: none;
	padding-left: 0;
	margin: 50px 0 0;
	display: flex;
}
.navItem {
	margin-right: 36px;
}
.navItem:last-child {
	margin-right: 0;
}
.navLink {
	display: inline-block;
	font-size: 20px;
	padding-bottom: 20px;
	text-decoration: none;
	color: #6c6c6c;
	border-bottom: solid 3px transparent;
}
.navLink:hover {
	border-bottom: solid 3px #5094f2;
}

/* banner */
.backgroundBanner {
	max-width: 1250px;
	margin: 0 auto 65px;
	background-image: url('/assets/img/backgrounds/bannerBackground.jpg');
	background-position: top center;
	background-repeat: no-repeat;
	border-bottom: 8px solid #fff;
	border-image: url('/assets/img/border.svg') 0 0 100% repeat;
}
.bannerWrapper {
	position: relative;
}
.bannerWrapper div {
	flex-grow: 1;
}
.iphoneImageWrapper {
	padding: 38px 0 21px 87px;
	display: flex;
	align-items: center;
}
.bannerImageDescription {
	padding-top: 82px;
}
.bannerHeader {
	margin: 0 0 25px;
	font-size: 42px;
	color: #e6e8e9;
	font-weight: lighter;
}
.bannerDescription {
	margin-bottom: 35px;
	max-width: 260px;
	font-size: 26px;
	line-height: 44px;
	color: #e6e8e9;
	font-weight: lighter;
}
.signUpNow {
	display: flex;
	align-items: center;
	padding: 0 11px;
	background-color: #5094f2;
	height: 41px;
	border: 0px solid transparent;
	border-radius: 2px;
	font-size: 22px;
	color: #e6e8e9;
	font-weight: lighter;
	cursor: pointer;
}
.signUpNow img {
	margin-right: 11px;
}
.slideArrow {
	position: absolute;
	top: 230px;
	cursor: pointer;
}
.slideArrowRight {
	transform: rotate(180deg);
	right: 0;
}

/* icons */
.iconsWrapper {
	max-width: 970px;
	margin-bottom: 96px;
	justify-content: space-between;
}
.commonIconsContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 250px;
}
.iconsImageContainer {
	width: 186px;
	height: 186px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 28px;
}
.pencilImageContainer {
	background-color: #5094f2;
}
.compImageContainer {
	background-color: #d94748;
}
.shopcartImageContainer {
	background-color: #ebbb11;
}
.iconsHeader {
	text-align: center;
	margin: 0 0 10px;
	font-size: 20px;
	color: #5094f2;
}
.iconsDescription {
	text-align: center;
	font-size: 14px;
	margin: 0;
	color: #909090;
}

/* Shopping Cart */
.shoppingCartWrapper {
	flex-direction: column;
	margin-bottom: 51px;
}
.shoppingCartDescriptionWrapper {
	display: flex;
	justify-content: space-between;
}
.shoppingCartImageContainer {
	padding-top: 34px;
}
.shoppingCartHeader {
	font-size: 42px;
	font-weight: 400;
	color: #6f7173;
	margin: 0;
}
.shoppingCartDescriptionContainer {
	max-width: 480px;
}
.shoppingCartDescriptionHeader {
	font-size: 26px;
	color: #6f7173;
	margin: 0 0 36px;
}
.shoppingCartDescription {
	margin: 0;
	font-size: 15px;
	line-height: 36px;
	color: #909090;
}

/* footer */
.footer {
	border-top: solid 1px #e5e5e5;
}
.footerCopyrightWrapper {
	display: flex;
	justify-content: center;
	padding-top: 34px;
}
.footerCopyright {
	margin: 0 0 44px;
	font-size: 15px;
	color: #979797;
}

/* Media */
@media only all and (max-width: 1140px) {
	.headerWrapper {
		padding: 0 36px;
	}
	.commonWrapper {
		padding: 0 1vw;
	}
	.slideArrowRight {
		right: 1vw;
	}
}
@media only all and (max-width: 900px) {
	.iphoneImageWrapper {
		padding: 3% 0 3% 30px;
	}
	.iphoneImageWrapper img {
		width: 90%;
	}
	.bannerImageDescription {
		padding-top: 30px;
	}
	.iconsImageContainer {
		width: 130px;
		height: 130px;
	}
	.iconsImageContainer img {
		height: 60%;
	}
	.slideArrow {
		top: 50%;
	}
}
@media only all and (max-width: 640px) {
	.commonWrapper {
		padding: 0 5vw;
	}
	.headerWrapper {
		padding: 0 30px;
	}
	.headerLogo {
		font-size: 50px;
		font-weight: 100;
	}

	.slideArrow {
		display: none;
	}
	.backgroundBanner {
		border: none;
		margin-bottom: 0;
	}
	.bannerWrapper {
		padding: 0;
	}
	.bannerHeader {
		font-size: 31px;
		margin-bottom: 15px;
	}
	.signUpNow {
		width: 235px;
		height: 53px;
		padding: 0 0 0 15px;
		font-size: 31px;
		margin-bottom: 30px;
	}
	.signUpNow img {
		margin-right: 15px;
	}
	.iphoneImageWrapper {
		max-width: 223px;
		margin-right: 65px;
	}
	.iphoneImageWrapper img {
		width: 100%;
	}
	.bannerDescription {
		max-width: 230px;
		font-size: 23px;
	}

	.iconsWrapper {
		flex-direction: column;
		padding: 0;
	}
	.commonIconsContainer {
		padding: 40px 5vw;
		max-width: 100%;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		border-bottom: 1px solid #cccccc;
	}
	.iconsImageContainer {
		min-width: 130px;
		margin-bottom: 0;
		margin-right: 25px;
	}
	.iconsHeader {
		font-size: 34px;
	}
	.iconsDescription {
		font-size: 19px;
	}
	.pencilImageContainer img {
		width: 56px;
		height: 81px;
	}
	.compImageContainer img {
		width: 73px;
		height: 60px;
	}
	.shopcartWrapper img {
		width: 76px;
		height: 70px;
	}
}
